@model Player

<h2>Edytuj swoje dane</h2>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md4">
        <div class="form-group">
            <label asp-for="Name" class="custom-control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Zatwierdź zmiany" class="btn btn-success" style="margin-top:30px" />
        <a asp-action="Index" class="btn btn-danger" style="margin-top:30px">Powrót</a>
    </div>
</form>
