@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        Witamy w systemie zarządzania licencjami.
    </h1>
    <p>
        W celu rozpoczęcia pracy proszę zalogować się do portalu korzystając z panelu nawigacji.
    </p>
</div>

    